<div class="container-title color-dark">
  <div class="col">
    <p> Add a new category</p>
  </div>

  <div class="col">
    <p>Your category list ({{ categoryCount}})<br> Expenses (Red) Income(Green)
    </p>
  </div>
</div>

<div class="container-cat color-light" [@categories]="categories.length">
  <div class="form">
    <p class="sm"> use this form below to add a new category</p>
    
    <form action="">
      <input type="text" name="category" class="txt" placeholder="New category" [(ngModel)] = "categoryText">
      <input type="submit" value="Add category" class="btn" (click)="addCategory()">
    </form>
  </div>

  <div class="category">
    <div class="expense">
      <p class="cat-container red-bg" *ngFor='let category of categories; let i = index;' (click)="removeCategory(i)">
        {{category}}
      </p>
    </div>
    <div class="income">
      <p class="cat-container navy-bg" *ngFor='let category of categories; let i = index;' (click)="removeCategory(i)">
        {{category}}
      </p>
    </div>
  </div>
</div>