
.container-dash{
  width: 100%;
}
/*Widget*/
  .widget {
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.text-right {
    text-align: right;
}

:host ::ng-deep .custom-toast .ui-toast-message {
  color: #ffffff;
  background: #FC466B;
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background: linear-gradient(to right, #3F5EFB, #FC466B);
}