

  input.txt{
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
  }
  input.btn{
    border: 0;
    display: block;
    padding: 1em 3em;
    background: #A5F883;
    color: #003A61;
    margin-bottom: 1em;
    cursor: pointer;
  }
/*Widget*/
  .widget {
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.text-right {
    text-align: right;
}

:host ::ng-deep .custom-toast .ui-toast-message {
  color: #ffffff;
  background: #FC466B;
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background: linear-gradient(to right, #3F5EFB, #FC466B);
}